{erl_opts, [debug_info
           ]}.

{erl_first_files, ["src/wrangler_parse.yrl"
                  ,"src/wrangler_parse.erl"
                  ,"src/wrangler_expand_rule.erl"
                  ,"src/wrangler_scan.erl"
                  ,"src/wrangler_epp_dodger.erl"
                  ,"src/wrangler_syntax.erl"
                  ,"src/wrangler_syntax_lib.erl"
                  ,"src/wrangler_misc.erl"
                  ,"src/api_ast_traverse.erl"
                  ,"src/api_refac.erl"
                  ]}.
